<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipay.ipayClass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.ipay.ipayClass.CardActivity"
            android:label="@string/title_activity_card"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>